header.fixed_header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: rem-calc(40);
	z-index: 10;
	transition: 0.5s ease;
	&.scrolled{
		background-color: rgba(56,56,56,0.7);
		padding: rem-calc(20);
	}
	.menu_wrapper{
		text-align: right;
		.menu{
			li{
				position: relative;
				border-bottom: 1px solid transparent;
				transition: 0.5s ease;
				&.active{
					a{
						color: #2bb384;
					}				
				}
				&.ghost{
					border: 2px solid #2bb384;
					border-radius: 5px;
					transition: 0.5s ease;
					&:hover{
						background-color: #2bb384;
					}
				}
				&:hover{
					border-bottom: 1px solid #2bb384;
					&.ghost{
						border: 2px solid #2bb384;
					}
				}
				a{
					color: #fff;
					
				}
			}
		}
	}
}
.homepage_slider_wrapper{
	background-color: #111;
	overflow: hidden;
	position: relative;
	.slider{
		min-height: rem-calc(650);
		margin: 0;
		&.slick-dotted.slick-slider{
			margin-bottom: 0;
		}
		.slide{
			min-height: rem-calc(650);
			width: 100%;
			position: relative;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	.content_wrapper{
		color: #fff;
		text-align: center;
		max-width: rem-calc(500);
		width: 100%;
		z-index: 10;
		@include absolute-center;
		h1{
			font-size: rem-calc(60);
			margin-bottom: rem-calc(40);
			span{
				font-weight: bold;
			}	
		}
		.button_wrapper{
			.button_single{
				position: relative;
				background-color: rgba(56,56,56,0.7);
				font-size: rem-calc(20);
				&:hover{
					.green_element{
						right: 0;
					}
				}
				a{
					color: #fff;
				}
				.text{
					padding: rem-calc(10 0);
					z-index: 2;
				}
				.arrow{
					padding: rem-calc(10 0);
					z-index: 2;
				}
				.green_element{
					position: absolute;
					top: 0;
					right: 16.6666%;
					left: 0;
					bottom: 0;
					background-color: #2bb384;
					transition: 0.5s right ease;
					z-index: 1;
					
				}
			}
		}
	}
	.slick-dots{
		bottom: rem-calc(60);
		li{
			width: rem-calc(80);
			button{
				width: rem-calc(75);
				height: rem-calc(4);
				&:before{
					content: '';
					width: rem-calc(75);
					height: rem-calc(4);
					background-color: #fff;
					transition: 0.5s ease;
				}
			}
		}
	}
}
.about_section_wrapper{
	padding: rem-calc(40);
	h2{
		text-align: center;
		margin-bottom: rem-calc(40);
		color: #323232;
		font-size: rem-calc(50);
		span{
			font-weight: 800;
		}
	}
	.about_section{
		margin-bottom: rem-calc(35);
		&.left{
			text-align: right;
		}
		&.right{
			text-align: left;
		}
		.text{
			p{
				color: #828282;
				font-size: rem-calc(14);
				margin-bottom: 0px;
				&.title{
					color: #2bb384;
					margin-bottom: rem-calc(5);
					font-size: rem-calc(24);
					font-weight: 700;
				}
			}
		}
		.icon{
			text-align: center;
			.fa{
				padding: rem-calc(30);
			    font-size: rem-calc(40);
			    background-color: #2bb384;
			    color: #fff;
			    border-radius: 50%;
			    width: rem-calc(100);
			    height: rem-calc(100);
			    text-align: center;
			}
		}
	}
}
.approach_section{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: rem-calc(40);
	h2{
		text-align: center;
		margin-bottom: rem-calc(40);
		color: #fff;
		font-size: rem-calc(50);
		span{
			font-weight: 800;
		}
	}
	.left{
		text-align: right;
		color: #2bb384;
		font-size: rem-calc(20);
		line-height: rem-calc(35);
	}
	.right{
		font-size: rem-calc(14);
		color: #fff;
	}
}
.plans_section_wrapper{
	text-align: right;
	padding: rem-calc(40);
	h2{
		margin-bottom: rem-calc(20);
		color: #323232;
		font-size: rem-calc(50);
		span{
			font-weight: 800;
		}
	}
	p.tag{
		font-size: rem-calc(14);
		line-height: rem-calc(30);
	}
	.price_block{
		text-align: center;
		.cell{
			&.price{
				border: 1px solid #cdcccc;
				border-bottom-width: 0;
				padding: rem-calc(40);
				background-color: #f7f7f7;
				p{
					font-size: rem-calc(12);
					&.plan{
						font-size: rem-calc(20);
						color: #2bb384;
						margin-bottom: rem-calc(20);
						font-weight: 700;
					}
					&.price{
						font-size: rem-calc(80);
						color: #323232;
						margin-bottom: rem-calc(20);
					}
				}
			}
			&.text{
				background-color: #323232;
				text-align: center;
				padding: rem-calc(40);
				color: #fff;
				p{
					line-height: rem-calc(35);
					margin-bottom: rem-calc(20);
					font-weight: 700;
				}
				a{
					display: block;
					margin: 0 auto;
					width: rem-calc(200);
					background-color: #2bb384;
					color: #fff;
					padding: rem-calc(10);
					font-size: rem-calc(18);
					transition: 0.5s ease;
					&:hover{
						background-color: #fff;
						color: #2bb384;
						.arrow{
							border-left: 1px solid #2bb384;
							color: #2bb384;
						}
					}
					.arrow{
						border-left: 1px solid #fff;
						text-align: center;
						color: #fff;
						transition: 0.5s ease;
					}
				}
			}
		}
		
	}
}
.stats_section_wrapper{
	padding: rem-calc(40);
	h2{
		color: #fff;
		text-align: center;
		margin-bottom: rem-calc(40);
		font-size: rem-calc(50);
		span{
			font-weight: 700;
		}
	}
	.cell{
		&.large-8{
			margin-bottom: rem-calc(30);
		}
		&.large-4{
			margin-bottom: rem-calc(30);
			&.left{
				padding-right: rem-calc(20);
			}
			&.right{
				padding-left: rem-calc(20);
			}
		}
		&.left{
			text-align: right;
			.c100{
				float: right;
			}
		}
		p{
			color: #fff;
			font-size: rem-calc(14);
			margin-bottom: 0px;
			&.title{
				color: #fff;
				margin-bottom: rem-calc(5);
				font-size: rem-calc(24);
				font-weight: 700;
			}
		}
	}
}
.contact_section_wrapper{
	padding: rem-calc(40);
	h2{
		color: #323232;
		text-align: center;
		margin-bottom: rem-calc(40);
		font-size: rem-calc(50);
		font-weight: 700;
	}
	.info{
		text-align: right;
		h3{
			color: #2bb384;
			font-size: rem-calc(24);
			margin-bottom: rem-calc(10);
			font-weight: 700;
		}
		p{
			color: #727272;
			font-size: rem-calc(24);
			font-weight: 700;
			&.hours{
				font-size: rem-calc(14);
				font-weight: 400;
			}
			.fa{
				margin-right: 20px;
			}
			a{
				color: #727272;
				transition: 0.5s ease;
				border-bottom: 2px solid #fff;
				&:hover{
					border-bottom: 2px solid #727272;
				}
			}
		}
	}
	.form{
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea{
			box-shadow: none;
			border-radius: 5px;
			border: 1px solid #e6e6e6;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #0b0b0b;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #0b0b0b;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #0b0b0b;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #0b0b0b;
			}
		}
		.send_form{
			background-color: #2bb384;
			color: #fff;
			width: rem-calc(150);
			padding: rem-calc(10 20);
			font-weight: 700;
			position: relative;
			display: inline-block;
			float: left;
			margin-right: 20px;
			cursor: pointer;
			transition: 0.5s ease;
			&:before{
				content: '\f003';
				font-family: FontAwesome;
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				padding-left: 20px;
				border-left: 1px solid #fff;
			}
		}
		.clear_form{
			background-color: #323232;
			color: #fff;
			width: rem-calc(150);
			padding: rem-calc(10 20);
			font-weight: 700;
			position: relative;
			display: inline-block;
			float: left;
			cursor: pointer;
			transition: 0.5s ease;
			&:before{
				content: '\f1f8';
				font-family: FontAwesome;
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				padding-left: 20px;
				border-left: 1px solid #fff;
			}
		}
	}
	.copyright_wrapper{
		padding-top: rem-calc(80);
		.copyright{
			text-align: center;
			font-size: rem-calc(14);
			font-weight: 400;
			color: #727272;
			a{
				color: #727272;
				transition: 0.5s ease;
				border-bottom: 1px solid #fff;
				&:hover{
					border-bottom: 1px solid #727272;
				}
			}
		}
	}
}
.map{
	margin-bottom: -10px;
}