header.fixed_header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 40px;
	z-index: 10;
	transition: 0.5s ease;
	&.scrolled{
		background-color: rgba(56,56,56,0.7);
		padding: 20px;
	}
	.menu_wrapper{
		text-align: right;
		.menu{
			li{
				position: relative;
				border-bottom: 1px solid transparent;
				transition: 0.5s ease;
				&.active{
					a{
						color: #2bb384;
					}				
				}
				&.ghost{
					border: 2px solid #2bb384;
					border-radius: 5px;
					transition: 0.5s ease;
					&:hover{
						background-color: #2bb384;
					}
				}
				&:hover{
					border-bottom: 1px solid #2bb384;
					&.ghost{
						border: 2px solid #2bb384;
					}
				}
				a{
					color: #fff;
					
				}
			}
}
	}
}
.homepage_slider_wrapper{
	.slide{
		min-height: 650px;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		.content_wrapper{
			color: #fff;
			text-align: center;
			max-width: 500px;
			width: 100%;
			@include absolute-center;
			h1{
				font-size: 60px;
				margin-bottom: 40px;
				span{
					font-weight: bold;
				}	
			}
			.button_wrapper{
				.button_single{
					position: relative;
					background-color: rgba(56,56,56,0.7);
					font-size: 20px;
					&:hover{
						.green_element{
							right: 0;
						}
					}
					a{
						color: #fff;
					}
					.text{
						padding: 10px 0;
						z-index: 2;
					}
					.arrow{
						padding: 10px 0;
						z-index: 2;
					}
					.green_element{
						position: absolute;
						top: 0;
						right: 16.6666%;
						left: 0;
						bottom: 0;
						background-color: #2bb384;
						transition: 0.5s right ease;
						z-index: 1;
						
					}
				}
			}
		}
	}
}
.about_section_wrapper{
	padding: 40px;
	h2{
		text-align: center;
		margin-bottom: 40px;
		color: #323232;
		font-size: 50px;
		span{
			font-weight: 800;
		}
	}
	.about_section{
		margin-bottom: 35px;
		&.left{
			text-align: right;
		}
		&.right{
			text-align: left;
		}
		.text{
			p{
				color: #828282;
				font-size: 14px;
				margin-bottom: 0px;
				&.title{
					color: #2bb384;
					margin-bottom: 5px;
					font-size: 20px;
					font-weight: 700;
				}
			}
		}
		.icon{
			text-align: center;
			.fa{
				padding: 30px;
			    font-size: 40px;
			    background-color: #2bb384;
			    color: #fff;
			    border-radius: 50%;
			    width: 100px;
			    height: 100px;
			    text-align: center;
			}
		}
	}
}
.approach_section{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px;
	h2{
		text-align: center;
		margin-bottom: 40px;
		color: #fff;
		font-size: 50px;
		span{
			font-weight: 800;
		}
	}
	.left{
		text-align: right;
		color: #2bb384;
		font-size: 20px;
		line-height: 35px;
	}
	.right{
		font-size: 14px;
		color: #fff;
	}
}