{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobsFinder | Helping you look for the perfect job</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/circle.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.min.css">
  </head>
  <body>
    <div id="mobile_menu" class="mobile_menu">
      <div id="close_mobile_menu" class="close_mobile_menu">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <ul class="vertical menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Candidates</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div> 
    <header class="fixed_header">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell medium-4 large-3 small-10 logo_wrapper">
            <img src="{{root}}assets/img/logo.min.png">
          </div>
          <div class="cell medium-8 large-9 small-2 menu_wrapper">
            <ul class="dropdown main_menu menu show-for-large" data-dropdown-menu>
              <li class="active"><a href="#0">Home</a></li>
              <li><a href="#0">Jobs</a></li>
              <li><a href="#0">Candidates</a></li>
              <li class="has-submenu">
                <a href="#0">About</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">What We Do</a></li>
                  <li><a href="#0">Our Team</a></li>
                  <li><a href="#0">Testimonials</a></li>
                </ul>
              </li>
              <li><a href="#0">Blog</a></li>
              <li><a href="#0">Contacts</a></li>
              <li class="ghost"><a href="#0">Sign In</a></li>
            </ul>
            <div id="open_mobile_menu" class="mobile_menu_icon hide-for-large">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.min.js"></script>
  </body>
</html>